*{margin: 0}

.fundo
{
    width: 100VW;
    height: 100VH;
    background-color: grey;
}

.cabeçalho
{
    width: 100VW;
    height: 22VH;
    position: absolute;
    margin-top: 0VW;
    margin-left: 0VH;
    background-color: rgb(6, 25, 107);
}

.logo
{
    width: 14VW;
    position: relative;
    margin-top: -1VH;
    margin-left: 0VW;
}

.logo_2
{
    width: 18VW;
    position: relative;
    margin-top: -8VH;
    margin-left: 1.5VW;
}

.login
{
    width: 28VW;
    height: 70VH;
    position: absolute;
    margin-top: 13VW;
    margin-left: 6.5VW;
    background-color:  rgb(6, 25, 107);
}

.texto_1
{
    position: relative;
    margin-top: 0VW;
    margin-left: 5VW;
    font-family: Tahoma;
    font-size: 2.5VW;
    font-weight: bold;
    color: rgb(91, 5, 130);
}

.texto_2
{
    position: absolute;
    margin-top: 14VW;
    margin-left: 40VW;
    font-family: Tahoma;
    font-size: 3.5VW;
    font-weight: bold;
    color: rgb(91, 5, 130);
}

.input
{
    position: relative;
    margin-top: 2.5VW;
    margin-left: 1.5VW;
    width: 25VW;
    height: 4VH;
    font-size: 1.3VW;
}

.link_1
{
    position: relative;
    margin-top: 5VW;
    margin-left: 3.5VW;
    font-family: Tahoma;
    font-size: 1.5VW;
    color: white;
}

.cadastro
{
    position: relative;
    margin-top: 3VW;
    margin-left: 1.5VW;
    width: 25VW;
    height: 8VH;
    font-size: 1.5VW;
    background-color: rgb(91, 5, 130);
    border-color: rgb(6, 25, 107);
}

.b_home
{
    position: absolute;
    margin-top: 0.3VW;
    margin-left: 40VW;
    width: 12VW;
    height: 16.8VH;
    font-size: 1.5VW;
    font-family: tahoma;
    color:white;
    background-color: #0F3C85;
    border-style: none;
}

#s_filmes
{
    position: absolute;
    margin-top: 0.3VW;
    margin-left: 52VW;
    width: 12VW;
    height: 16.8VH;
    font-size: 1.5VW;
    font-family: tahoma;
    color:white;
    background-color: #0F3C85;
    border-style: none;
}

.b_login
{
    position: absolute;
    margin-top: 0.3VW;
    margin-left: 64VW;
    width: 12VW;
    height: 16.8VH;
    font-size: 1.5VW;
    font-family: tahoma;
    color:white;
    background-color: #0F3C85;
    border-style: none;
}

.b_cadastro
{
    position: absolute;
    margin-top: 0.3VW;
    margin-left: 76VW;
    width: 12VW;
    height: 16.8VH;
    font-size: 1.5VW;
    font-family: tahoma;
    color:white;
    background-color: #0F3C85;
    border-style: none;
}

.b_meus_filmes
{
    position: absolute;
    margin-top: 0.3VW;
    margin-left: 88VW;
    width: 12VW;
    height: 16.8VH;
    font-size: 1.5VW;
    font-family: tahoma;
    color:white;
    background-color: #0F3C85;
    border-style: none;
}