*{margin: 0}

.fundo
{
    width: 98.75VW;
    height: 100VH;
}

.plano_fundo
{
    width: 98.75VW;
    height: 100VH;
    position: fixed;
    filter: brightness(30%);
}

.cabeçalho
{
    width: 98.75VW;
    height: 22VH;
    position: absolute;
    margin-top: 0VW;
    margin-left: 0VH;
    background-color: rgba(0, 5, 27, 0.65);
}

.logo
{
    width: 12VW;
    position: absolute;
    margin-top: -1VH;
    margin-left: 0VW;
}

.logo_2
{
    width: 18VW;
    position: absolute;
    margin-top: -8VH;
    margin-left: 12VW;
}

.menu
{
    position: absolute;
    margin-top: 3.5VW;
    margin-left: 56VW;
    width: 40VW;
    height: 22VH;
}

.menu a:hover
{
    color: rgb(0, 5, 27);
    background-color: white;
    border-radius: 1VW;
}

.menu a
{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 2VW;
    font-family: tahoma;
    font-weight: bold;
}

.link_home
{
    margin-left: 0VW;
}

.link_historia
{
    margin-left: 11VW;
}

.link_login
{
    margin-left: 26VW;
}

.corpo
{
    position: absolute;
    width: 60VW;
    margin-top: 15VW;
    margin-left: 22VH;
    font-family: tahoma;
    font-size: 1.5VW;
    color: white;
}