*{margin: 0}

.fundo
{
  width: 100VW;
  height: 100VH;
  background-color: rgb(0, 5, 27);
}

.cabeçalho
{
  width: 100VW;
  height: 22VH;
  position: absolute;
  margin-top: 0VW;
  margin-left: 0VH;
  background-color: rgba(0, 5, 27, 0.65);
}

.logo
{
  width: 12VW;
  position: absolute;
  margin-top: -1VH;
  margin-left: 0VW;
}

.logo_2
{
  width: 18VW;
  position: absolute;
  margin-top: -8VH;
  margin-left: 12VW;
}

.menu
{
  position: absolute;
  margin-top: 3.5VW;
  margin-left: 56VW;
  width: 40VW;
  height: 22VH;
}

.menu a:hover
{
  position: center;
  color: rgb(0, 5, 27);
  background-color: white;
  border-radius: 1VW;
  border-width: 5VW;
}

.menu a
{
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 2VW;
  font-family: tahoma;
  font-weight: bold;
  padding: 0.5VW;
}

.link_home
{
  margin-left: 0VW;
}

.link_historia
{
  margin-left: 11VW;
}

.link_login
{
  margin-left: 26VW;
}

* {box-sizing:border-box}

.slides
{
  position: absolute;
  margin-top: 10VW;
  margin-left: 0VW;
  width: 100VW;
  height: 78%;
}

.voltar, .avancar
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 5VW;
  padding: 16px;
  color: white;
  background-color: rgba(0, 5, 27, 0.65);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  border-color: rgba(0, 5, 27, 0.65);
  user-select: none;
}

.voltar
{
  position: absolute;
  margin-left: 0%;
}

.avancar
{
  position: absolute;
  margin-left: 95%;
}

.voltar:hover, .avancar:hover
{
  background-color: rgba(0,0,0,0.8);
}

#texto_slide
{
  position: absolute;
  font-family: tahoma;
  font-size: 4VW;
  color: white;
  font-weight: bold;
  margin-top: -24.5%;
  margin-left: 12%;
}

#foto_slide
{
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}

.fade
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade
{
  from {opacity: .2}
  to {opacity: 1}
}