*{margin: 0}

.fundo
{
    width: 100VW;
    height: 100VH;
    background-color: black;
}

.cabeçalho
{
    width: 100VW;
    height: 22VH;
    position: absolute;
    margin-top: 0VW;
    margin-left: 0VH;
    background-color: rgba(0, 5, 27, 0.65);
}

.logo
{
    width: 12VW;
    position: absolute;
    margin-top: -1VH;
    margin-left: 0VW;
}

.logo_2
{
    width: 18VW;
    position: absolute;
    margin-top: -8VH;
    margin-left: 12VW;
}

.menu
{
    position: absolute;
    margin-top: 3.5VW;
    margin-left: 56VW;
    width: 40VW;
    height: 22VH;
}

.menu a:hover
{
    color: rgb(0, 5, 27);
    background-color: white;
    border-radius: 1VW;
}

.menu a
{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 2VW;
    font-family: tahoma;
    font-weight: bold;
}

.link_home
{
    margin-left: 0VW;
}

.link_historia
{
    margin-left: 11VW;
}

.link_login
{
    margin-left: 26VW;
}

* {mbox-sizing:border-box}

.div_slides
{
  
  position: absolute;
  margin-top: 9.6VW;
  margin-left: 0VW;
  width: 100VW;
  height: 80VH;
}

.slide
{
  display: none;
}

.voltar, .avancar
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.avancar
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.voltar:hover, .avancar:hover
{
  background-color: rgba(0,0,0,0.8);
}

.fade
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade
{
  from {opacity: .4}
  to {opacity: 1}
}