
#foto_personagem
{
    position: absolute;
}

.introducao
{
    position: absolute;
    width: 40%;
    height: auto;
    margin-left: 45%;
    margin-top: 2%;
    text-align: justify;
    font-size: 1.8VW;
    color: rgb(0, 5, 27);
}

button
{
    position: absolute;
    background-color: rgb(0, 5, 27);
    color: white;
    border-style: none;
    width: auto;
    height: 3VW;
    border-radius: 2VW;
    font-size: 1.3VW;
    margin-top: -3VW;
    margin-left: 25VW;
}