
.login
{
    width: 28VW;
    height: 70VH;
    position: absolute;
    margin-top: 12.5VW;
    margin-left: 66VW;
    background-color: rgb(0, 5, 27, 0.65);
    border-style: solid;
    border-color: black;
    border-width: 0.4VW;
    border-radius: 2VW;
}

.texto_1
{
    position: relative;
    margin-top: 0VW;
    margin-left: 5VW;
    font-family: Tahoma;
    font-size: 2.5VW;
    font-weight: bold;
    color: white;
}

.texto_2
{
    position: absolute;
    margin-top: 11VW;
    margin-left: 3VW;
    font-family: Tahoma;
    font-size: 3.5VW;
    font-weight: bold;
    color: white;
}

.foto_1
{
    position: absolute;
    margin-top: 17.2VW;
    margin-left: 23VW;
    width: 23VW;
}

.foto_2
{
    position: absolute;
    margin-top: 14VW;
    margin-left: 48VW;
    width: 24VW;
}

.input
{
    position: relative;
    margin-top: 4VW;
    margin-left: 1.5VW;
    width: 25VW;
    height: 4VH;
    font-size: 1.3VW;
    border-style: solid;
    border-color: white;
    border-radius: 0.5VW;
    border-width: 0.3VW;
}

.logar
{
    position: relative;
    margin-top: 5VW;
    margin-left: 1.5VW;
    width: 25VW;
    height: 8VH;
    font-size: 1.5VW;
    color: white;
    background-color: rgb(0, 5, 27, 0.65);
    border-color: black;
    border-width: 0.2VW;
    border-radius: 1VW;
    cursor: pointer;
}

.texto_3
{
    position: relative;
    margin-top: 5VW;
    margin-left: 6.5VW;
    font-family: Tahoma;
    font-size: 1.4VW;
    color: white;
}

.link_1
{
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-size: 1.4VW;
    margin-left: 8VW;
    font-family: tahoma;
    font-weight: bold;
}

.link_1:hover
{
    color: white;
}